@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'EB Garamond', sans-serif;
    text-transform: capitalize;
}

html,
body,
#root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: url('./assets/voidheart.png');
    background-size: cover;
    background-position: center;
}

#root {
    background: rgba(0, 0, 0, 0.4);
}
