@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'EB Garamond', sans-serif;
    text-transform: capitalize;
}

html,
body,
#root {
    width: 100vw;
    /* height: 300vh; */
    margin: 0;
    padding: 0;
    color: white;

    display: flex;
    align-items: flex-start;
    overflow-x: hidden;
}

/* html::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(22, 22, 22);
}

html::-webkit-scrollbar-thumb {
    background-color: white;
} */

body {
    background-size: cover;
    background-position: center;
}

.background {
    top: 0;
    position: fixed;
    z-index: -1;
    width: 120vw;
    height: calc(100vh + 200px);

    background: url('./assets/voidheart.png');
    background-size: cover;
    background-position: 0 0;
}

.background::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
